@model List<Education>
@{
    ViewData["Title"] = "EducationList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Eğitim Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>Bölüm</th>
        <th>Okul</th>
        <th>Departman</th>
        <th>Tarih</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Title</td>
            <td>@item.University</td>
            <td>@item.Department</td>
            <td>@item.EducationDate</td>
            <td><a href="/Education/DeleteEducation/@item.EducationId" class="btn btn-danger">Sil</a></td>
            <td><a href="/Education/UpdateEducation/@item.EducationId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/Education/CreateEducation/" class="btn btn-primary">Yeni Eğitim Girişi</a>

