@model List<About>
@{
    ViewData["Title"] = "AboutList";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<h2>Hakkımda Listesi</h2>

<table class="table table-bordered">
    <tr>
        <th>Açıklama</th>
        <th>Hakkımda Başlığı</th>
        <th>Hakkımda Açıklaması</th>
        <th>Telefon</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Description</td>
            <td>@item.SubTitle</td>
            <td>@item.SubDescription</td>
            <td>@item.Phone</td>
            <td><a href="/About/DeleteAbout/@item.AboutId" class="btn btn-danger">Sil</a></td>
            <td><a href="/About/UpdateAbout/@item.AboutId" class="btn btn-warning">Güncelle</a></td>
        </tr>
    }
</table>
<a href="/About/CreateAbout/" class="btn btn-primary">Yeni Hakkımda Girişi</a>

